.div-rippleDropzoneArea-wrapper{
  .span-drapdropText{
    text-align: center;
    padding: 150px;
    display: block;
    svg{
      display: block;
      margin: auto;
    }
    text-align: center;
  }
}
