.Modal-updateAvatar{
  width: 60% !important;
  .Button-updateAvatar{
    float: right;
    margin: 0px 30px 30px 0px;
    background: #e0e1e2;
    color: rgba(0,0,0,.87) !important;
  }
  .Card-updateAvatar{
    width: 100%;
  }
}
